body{
  background: aliceblue;
  color: midnightblue;
  font-family: arial;
}

.header{

  height: 200px;
  width: 100%;
  background-image: url("aurora.jpg");
  text-align: center;
  font-size: 38px;
  color: white;
  padding: 5px;

}
#mainwrapper{

  clear: both;
  height:1500px;
  font-weight: bold;
}

#names{
  float: left;
  font: arial-black;
  width: 600px;
  height: 1500px;
  border: 5px solid midnightblue;
}

h2{
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  text-decoration: underline;

#map {
     width: 45%;
     height: 400px;
     float: right;
}
